.wrapper{
    margin-top: 15%
}

.container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 25px;
    margin-bottom: 10px;
}

.button{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.form-control{
    width: 600px;
}